#root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  @apply flex flex-col max-h-screen h-screen gap-y-4; /* NOTE: app is always equal the viewport height */
}

.header {
  @apply text-center font-bold p-4;
}

.main-layout {
  @apply flex-1 flex w-full;
}

.footer {
  @apply text-center text-sm text-slate-100 font-medium p-4;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
